.card-container {
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 220px;
  background: linear-gradient(to right, #FF6600, #FFAA00, #FFDD00);
  border-radius: 10px;
}

.card-line {
  display: flex;
  gap: 10px;
}

.four-digits {
  width: 80px;
  height: 30px;
  padding: 15px;
  border: 1px solid rgb(79, 0, 49);
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.four-digits:focus {
  box-shadow: 0 0 8px rgb(79, 0, 49);
  outline: none;
}

.submit {
  all: unset;
  width: 100px;
  height: 35px;
  text-align: center;
  background-color: rgb(79, 0, 49);
  box-shadow: 0 0 8px rgb(79, 0, 49);
  color: white;
  border-radius: 10px;
}

.submit:hover {
  scale: 1.05;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid greenyellow;
  overflow: hidden;
  background-color: rgb(0, 165, 162);
}

.bl {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
